/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Cabecera */
header {
    background-color: #333;
    color: rgb(31, 143, 59);
    text-align: center;
    padding: 20px;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #444444;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Contenido principal */
main {
    padding: 20px;
    text-align: center;
}

/* Pie de página */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}